{{ "{{" }}#
Jinja2 template that emulates Material You colors.
To use the variables in here, you need to import it inside a template:
TODO: Maybe use a namespace()
{{ "{{%" }} from 'material-you.j2' import primary, onPrimary, primaryContainer .. {{ "%}}" }}
{{ "#" }}{{ "}}" }}

{{ "{{%" }} set primary = {{ color4 }} | lighten(0.2) {{ "%}}" }}
{{ "{{%" }} set onPrimary = {{ color2 }} | darken(0.2) {{ "%}}" }}
{{ "{{%" }} set primaryContainer = {{ color2 }} | darken(0.2) {{ "%}}" }}
{{ "{{%" }} set onPrimaryContainer = {{ color4 }} | lighten(0.1) {{ "%}}" }}

{{ "{{#" }} TODO: Desaturate? {{ "#" }}{{ "}}" }}
{{ "{{%" }} set secondary = {{ color5 }} | lighten(0.2) | desaturate(0.2) {{ "%}}" }}
{{ "{{%" }} set onSecondary = {{ color5 }} | darken(0.2) | desaturate(0.2) {{ "%}}" }}
{{ "{{%" }} set secondaryContainer = {{ color3 }} | darken(0.2) | desaturate(0.2) {{ "%}}" }}
{{ "{{%" }} set onSecondaryContainer = {{ color5 }} | lighten(0.2) | desaturate(0.2) {{ "%}}" }}

{{ "{{#" }} TODO: Adjust hue (probably just shift-hue) {{ "#" }}{{ "}}" }}
{{ "{{%" }} set tertiary = {{ color4 }} | lighten(0.2) | adjust_hue(30) {{ "%}}" }}
{{ "{{%" }} set onTertiary = {{ color2 }} | darken(0.2) | adjust_hue(30) {{ "%}}" }}
{{ "{{%" }} set tertiaryContainer = {{ color2 }} | darken(0.1) | adjust_hue(30) {{ "%}}" }}
{{ "{{%" }} set onTertiaryContainer = {{ color4 }} | lighten(0.1) | adjust_hue(30) {{ "%}}" }}

{{ "{{%" }} set error = "#ffb4a9" {{ "%}}" }}
{{ "{{%" }} set onError = "#680003" {{ "%}}" }}
{{ "{{%" }} set errorContainer = "#930006" {{ "%}}" }}
{{ "{{%" }} set onErrorContainer = "#ffb4a9" {{ "%}}" }}

{{ "{{%" }} set colorbarbg = {{ color0 }} {{ "%}}" }}
{{ "{{%" }} set background = {{ color0 }} {{ "%}}" }}
{{ "{{%" }} set onBackground = {{ color7 }} {{ "%}}" }}

{{ "{{%" }} set surface = {{ color0 }} {{ "%}}" }}
{{ "{{%" }} set onSurface = {{ color7 }} {{ "%}}" }}
{{ "{{%" }} set surfaceVariant = {{ color1 }} {{ "%}}" }}
{{ "{{%" }} set onSurfaceVariant = {{ color7 }} {{ "%}}" }}

{{ "{{%" }} set outline = {{ color7 }} {{ "%}}" }}
{{ "{{%" }} set shadow = "#000000" {{ "%}}" }}

{{ "{{#" }} Is invert just complementary? {{ "#" }}{{ "}}" }}
{{ "{{%" }} set inverseSurface = surface | invert {{ "%}}" }}
{{ "{{%" }} set inverseOnSurface = onSurface | invert {{ "%}}" }}
{{ "{{%" }} set inversePrimary = primary | invert {{ "%}}" }}